In [ ]:
ruta = "/content/drive/MyDrive/SampleSuperstore.csv"

Dataset = https://www.kaggle.com/itssuru/super-store

Dataset info:

About the data and what to do…

A superstore is a very large supermarket, often selling household goods, clothes, and electrical goods, as well as food. Superstores typically charge anywhere from 15 to 45 percent less than their smaller counterparts.
As a business manager, try to find out the weak areas where you can work to make more profit. Perform ‘Exploratory Data Analysis’.
What all business problems you can derive by exploring the data?

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.set_option("display.float_format", lambda x: str(round(x,3)))

In [ ]:
df = pd.read_csv(ruta)
df = df.dropna(how = "any")
df.sample(5)

           Ship Mode      Segment        Country  ... Quantity Discount  Profit
4998  Standard Class  Home Office  United States  ...        1      0.2   8.219
1132     First Class    Corporate  United States  ...        3      0.0   9.331
8078  Standard Class    Corporate  United States  ...        3      0.0    18.0
1574     First Class     Consumer  United States  ...        3      0.2  -9.153
9075     First Class     Consumer  United States  ...        3      0.7  -5.534

[5 rows x 13 columns]

In [ ]:
df.nunique()

Ship Mode          4
Segment            3
Country            1
City             531
State             49
Postal Code      631
Region             4
Category           3
Sub-Category      17
Sales           5825
Quantity          14
Discount          12
Profit          7288
dtype: int64

Debido a la gran cantidad de categorias del dataset se trabajara con la media de cada dato a medir

In [ ]:
df.describe()

       Postal Code    Sales  Quantity  Discount    Profit
count       9994.0   9994.0    9994.0    9994.0    9994.0
mean     55190.379  229.858      3.79     0.156    28.657
std      32063.693  623.245     2.225     0.206    234.26
min         1040.0    0.444       1.0       0.0 -6599.978
25%        23223.0    17.28       2.0       0.0     1.729
50%        56430.5    54.49       3.0       0.2     8.666
75%        90008.0   209.94       5.0       0.2    29.364
max        99301.0 22638.48      14.0       0.8  8399.976

In [ ]:
df.shape

(9994, 13)

In [ ]:
df_num = df.select_dtypes("number")
df_num = df_num.drop(columns = "Postal Code")
df_num["State"] = df["State"]

Parece ser que los estados con una ganancia negativa son aquellos que ofrecen un mayor descuento en sus tiendas, esto puede ser debido directamente a las bajas ventas de un producto o simplemente por promocion.

In [ ]:
mean_state = df_num.groupby("State").mean().sort_values(by = "Profit", ascending = False)
mean_state

                        Sales  Quantity  Discount  Profit
State
Vermont               811.761     4.545       0.0 204.089
Rhode Island          404.071     3.554     0.021 130.101
Indiana               359.432     3.879       0.0 123.375
Montana               372.623     3.733     0.067 122.222
Minnesota             335.541     3.719       0.0 121.609
District of Columbia  286.502       4.0       0.0 105.959
Delaware              285.949     3.823     0.006 103.931
Wyoming              1603.136       4.0       0.2 100.196
Missouri              336.442     3.818       0.0  97.518
Michigan              299.097      3.71     0.007  95.926
Alabama               319.847     4.197       0.0  94.866
Georgia               266.825     3.832       0.0  88.315
Nevada                428.951     4.308     0.062  85.045
Virginia              315.342     3.987       0.0  83.027
Kentucky               263.25     3.763       0.0  80.573
Wisconsin             291.951     4.209       0.0   76.38
New Jersey             275.11     3.492     0.005  75.176
Oklahoma              298.233     3.742       0.0  73.545
Maryland              225.767       4.0     0.006  66.964
Arkansas              194.635       4.0       0.0  66.811
Washington            273.995     3.721     0.064  66.013
New York                275.6     3.745     0.055  65.637
New Hampshire         270.093     4.704     0.011  63.204
Mississippi           203.233      4.17       0.0  59.867
Maine                 158.816     4.375       0.0  56.811
Nebraska              196.446     3.579       0.0  53.608
Louisiana             219.429     3.714       0.0  52.288
Massachusetts         212.107     3.637     0.016  50.263
Utah                  211.699     4.132      0.06  48.048
West Virginia         302.456       4.5     0.075   46.48
Connecticut           163.224     3.427     0.007  42.823
South Carolina        201.945     4.095       0.0   42.12
Iowa                  152.659     3.733       0.0   39.46
Idaho                  208.69     3.048     0.086  39.368
California            228.729     3.832     0.073  38.171
Kansas                 121.43     3.083       0.0  34.852
South Dakota           109.63       3.5       0.0  32.902
North Dakota          131.416     4.286       0.0  32.879
New Mexico            129.284     4.081     0.059  31.273
Florida               233.613     3.601     0.299  -8.875
Oregon                140.574     4.024     0.289  -9.601
Arizona               157.509     3.848     0.304 -15.303
Illinois              162.939      3.75      0.39 -25.626
Texas                  172.78     3.781      0.37 -26.121
Pennsylvania          198.487     3.668     0.329 -26.508
Tennessee             167.551     3.721     0.291  -29.19
North Carolina        223.306     3.948     0.284 -30.084
Colorado              176.418     3.808     0.316 -35.867
Ohio                  166.862     3.751     0.325 -36.186

Seleccionando unicamente aquellos estados en los que la ganancia es negativa podemos notar que efectivamente son los mismos que ofrecen un descuento

In [ ]:
mean_low = mean_state.loc[mean_state["Profit"] <= 0].sort_values(by = "Profit")
mean_low

                 Sales  Quantity  Discount  Profit
State
Ohio           166.862     3.751     0.325 -36.186
Colorado       176.418     3.808     0.316 -35.867
North Carolina 223.306     3.948     0.284 -30.084
Tennessee      167.551     3.721     0.291  -29.19
Pennsylvania   198.487     3.668     0.329 -26.508
Texas           172.78     3.781      0.37 -26.121
Illinois       162.939      3.75      0.39 -25.626
Arizona        157.509     3.848     0.304 -15.303
Oregon         140.574     4.024     0.289  -9.601
Florida        233.613     3.601     0.299  -8.875

Y comparandolos con otros estados tienen unas ventas relativamente normales, inclusive estados con ventas menores no tienen perdidas

In [ ]:
total_table = pd.pivot_table(df, values = "Quantity", index = "State", columns = "Category", aggfunc = np.mean)
total_table

Category              Furniture  Office Supplies  Technology
State
Alabama                   4.909            4.139       3.786
Arizona                   3.837            3.945       3.604
Arkansas                  4.778             3.75       4.133
California                 3.82            3.811       3.914
Colorado                  3.922            3.583       4.257
Connecticut               3.538            3.552       2.636
Delaware                  3.556            4.207        2.95
District of Columbia      2.667              4.0         8.0
Florida                   3.518            3.581       3.768
Georgia                   3.625            3.774       4.189
Idaho                       3.0            3.091         3.0
Illinois                  3.642            3.842       3.595
Indiana                   3.609             4.01       3.655
Iowa                        6.0            3.409        3.25
Kansas                      4.0            2.765         3.8
Kentucky                  3.533            3.721       4.217
Louisiana                 3.273             3.95       3.727
Maine                       2.0             4.75       4.667
Maryland                  3.714            4.317       3.143
Massachusetts             3.212            3.807       3.632
Michigan                   3.68            3.849       3.261
Minnesota                   4.0            3.766       3.167
Mississippi               4.778            4.242       3.455
Missouri                  3.182            3.791         4.5
Montana                     7.0              3.1         4.5
Nebraska                   5.25            3.423        3.25
Nevada                    4.111            4.083         5.5
New Hampshire               4.5              5.0         4.0
New Jersey                3.269             3.41       4.095
New Mexico                 4.75            3.792       4.556
New York                  3.716            3.779       3.663
North Carolina            4.143            4.071       3.412
North Dakota                nan            4.286         nan
Ohio                      3.699            3.763       3.765
Oklahoma                    3.8            3.324       4.786
Oregon                    3.286             4.25       3.963
Pennsylvania              3.896            3.638       3.513
Rhode Island              3.312            3.581       3.889
South Carolina            3.667            4.333       3.333
South Dakota                2.5            3.875         3.0
Tennessee                 3.667            3.746         3.7
Texas                     3.792            3.806       3.682
Utah                      4.143            3.718       6.429
Vermont                     4.0            4.667       4.667
Virginia                  4.481            3.794         4.0
Washington                3.763            3.774        3.52
West Virginia               3.0              5.0         nan
Wisconsin                   4.5            4.057        4.16
Wyoming                     4.0              nan         nan

Los estados con las menores ventas por categoria son: Main en muebles, Kansas en insumos de oficina y Connecticut en tecnologia, ninguno de ellos se encuentra en la lista de ganancia negativa

In [ ]:
total_table.describe()

Category  Furniture  Office Supplies  Technology
count          48.0             48.0        46.0
mean          3.876            3.873        3.95
std           0.833             0.44       0.911
min             2.0            2.765       2.636
25%           3.529            3.698       3.469
50%            3.74              3.8       3.766
75%           4.119            4.074       4.182
max             7.0              5.0         8.0

In [ ]:
mean_low = mean_low.reset_index()
low_cities = df[df["State"].isin(mean_low["State"].tolist())].drop(columns = "Postal Code")

In [ ]:
low_cities = low_cities.groupby("City").mean().sort_values(by = "Profit")
low_cities.shape

(222, 4)

Tomando unicamente las ciudades con ganancia menor a cero vemos lo anterior, la media de las ventas se mantiene muy similar pero la media de los descuentos es de 0.39

In [ ]:
low_cities = low_cities.loc[low_cities["Profit"] <= 0]
low_cities.describe()

         Sales  Quantity  Discount   Profit
count    133.0     133.0     133.0    133.0
mean   171.832     3.856      0.39  -41.194
std    150.517     1.048     0.137   63.662
min      1.392       1.0       0.2 -535.866
25%     75.688       3.2       0.3    -44.3
50%     147.76     3.794     0.354  -20.006
75%    223.901       4.4     0.433   -8.412
max   1152.844       7.0       0.8   -0.523

A pesar de que muebles tiene una media de ventas considerable y que la cantidad esta en la media su media de ganancias es muy baja

In [ ]:
categorias = df.drop(columns = ["Ship Mode", "Segment", "Country", "City", "State", "Postal Code", "Region"])
categorias = categorias.groupby("Category").mean()
categorias

                  Sales  Quantity  Discount  Profit
Category
Furniture       349.834     3.785     0.174   8.699
Office Supplies 119.324     3.801     0.157  20.327
Technology      452.709     3.757     0.132   78.75

Analizando las cubcategorias, la ganancia negativa se debe a que las mesas y los libreros tienen una alta cantidad de ventas pero muy baja ganancia

In [ ]:
sub_categorias = df.drop(columns = ["Ship Mode", "Segment", "Country", "City", "State", "Postal Code", "Region"])
sub_categorias = sub_categorias.groupby("Sub-Category").mean().sort_values(by = "Profit")
sub_categorias

                Sales  Quantity  Discount  Profit
Sub-Category
Tables        648.792      3.89     0.261 -55.566
Bookcases      503.86     3.807     0.211 -15.231
Supplies       245.65     3.405     0.077  -6.258
Fasteners      13.937     4.212     0.082   4.376
Art            34.069     3.769     0.075   8.201
Furnishings    95.826     3.723     0.138  13.646
Labels         34.303     3.846     0.069  15.237
Binders       133.561     3.923     0.372  19.844
Paper          57.284      3.78     0.075  24.857
Storage       264.591     3.733     0.075  25.152
Envelopes      64.868     3.567      0.08  27.418
Machines     1645.553     3.826     0.306  29.433
Appliances    230.756      3.71     0.167  38.923
Chairs        532.332     3.818      0.17  43.096
Phones        371.212       3.7     0.155  50.072
Accessories   215.975      3.84     0.078  54.111
Copiers      2198.942     3.441     0.162 817.909